/*  
    MARK: Animations
*/
/* Scrolling animation */
.hiddenBlur {
    opacity: 0;
    transition: opacity 1s, transform 1s, filter 1s;
}

.showBlur {
    opacity: 1;
}

.hiddenSlideX {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: opacity 1s, transform 1s, filter 1s;
}

.showSlideX {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hiddenSlideY {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: opacity 1s, transform 1s, filter 1s;
}

.showSlideY {
    opacity: 1;
    filter: blur(0); /* Remove blur */
    transform: translateY(0);
}

@media(prefers-reduced-motion) {
    .hiddenBlur, .hiddenSlideX, .hiddenSlideY {
        transition: none;
    }
}

/* Hovering animation */
.hoverable {
    transition: transform 0.4s;
    will-change: transform;
    cursor: pointer;
}
  
.hoverable:hover {
    transform: scale(1.015);
    position: relative;
}

/* Stagger Animation */
.staggerAbout:nth-child(2) {
    transition-delay: 0.2s;
}

.staggerSkill:nth-child(2) {
    transition-delay: 0.2s;
}
.staggerSkill:nth-child(4) {
    transition-delay: 0.2s;
}

.staggerHobby:nth-child(2) {
    transition-delay: 0.2s;
}
.staggerHobby:nth-child(3) {
    transition-delay: 0.4s;
}

.staggerProject:nth-child(2) {
    transition: opacity 1.2s, transform 1.2s, filter 1.2s !important;
}

.staggerProject:nth-child(3) {
    transition: opacity 2.0s, transform 2.0s, filter 2.0s !important;
}

.staggerProject:nth-child(4) {
    transition: opacity 2.8s, transform 2.8s, filter 2.8s !important;
}

/* Anchor scrolling */
#About {
    scroll-margin-top: 125px;
}

#Projects {
    scroll-margin-top: 125px;
}

#Skills {
    scroll-margin-top: 125px;
}

#Interests {
    scroll-margin-top: 125px;
}
