/* 
    MARK: Design paradigms 
*/
.glass {
    background: var(--glass-bg) !important;
    backdrop-filter: blur( var(--glass-blur) ) !important;
    -webkit-backdrop-filter: blur( var(--glass-blur) ) !important;
    transition: background-color 0.3s ease; /* Add transition */
}

.neumorphism {
    background: var(--neumorphic-bg);
    box-shadow:  20px 20px 60px var(--neumorphic-shadow-dark),
                -20px -20px 60px var(--neumorphic-shadow-light);
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add transition */
}

.neumorphicButton {
    /* background: var(--neumorphic-bg); /* Use theme background */
    box-shadow:  3px 3px 8px var(--neumorphic-shadow-dark),
                -3px -3px 8px var(--neumorphic-shadow-light) !important;
    transition: box-shadow 0.3s ease; /* Add transition */
}

.neumorphicIMG {
    filter: drop-shadow(1px 1px 1px var(--neumorphic-img-shadow-dark)) drop-shadow(-1px -1px 2px var(--neumorphic-img-shadow-light));
    transition: filter 0.3s ease; /* Add transition */
}
