<div class="container px-4 py-5">
    <h2 id="Interests" class="pb-2 hiddenBlur">Interests</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-4">
        <div class="col default-col staggerHobby hiddenSlideX" data-bs-toggle="modal" data-bs-target="#boulderingModal" style="z-index: 1">
            <div class="neumorphism h-100 overflow-hidden rounded-4 hoverable" id="bouldering" style="will-change: transform;">
                <img src="./assets/hobbies/bouldering.jpeg" alt="Bouldering" 
                    style="object-fit: cover; width: 100%; height: 100%; position: absolute; z-index: -1;" />
                <div class="d-flex flex-column h-100 p-5 text-white text-shadow-1">
                    <h3 class="pt-5 mt-auto display-6 lh-1 fw-bold">Bouldering</h3>
                </div>
            </div>
        </div>

        <div class="col default-col staggerHobby hiddenSlideX" data-bs-toggle="modal" data-bs-target="#danceModal">
            <div class="neumorphism h-100 overflow-hidden rounded-4 hoverable" id="dance">
                <img src="./assets/hobbies/dance.JPG" alt="Dance" 
                    style="object-fit: cover; width: 100%; height: 100%; position: absolute; z-index: -1;" />
                <div class="d-flex flex-column h-100 p-5 text-white text-shadow-1">
                    <h3 class="pt-5 mt-auto display-6 lh-1 fw-bold">Dance</h3>
                </div>
            </div>
        </div>

        <div class="col default-col staggerHobby hiddenSlideX" style="z-index: 1">
            <iframe class="neumorphism rounded-4"
                src="https://open.spotify.com/embed/playlist/66AeDiMrDqXStAK0DnrcYA?utm_source=generator"
                width="100%" height="100%" frameborder="0" allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
    </div>
</div>