<div class="container px-4 py-5 darkModeText">
    <h2 id="Projects" class="pb-2 hiddenBlur">Projects</h2>

    <div class="row row-cols-1 align-items-stretch g-4 pt-5 pb-4 hiddenBlur">
        <div class="col mainProjCol" data-bs-toggle="modal" data-bs-target="#vscModal">
            <div class="neumorphism h-100 overflow-hidden rounded-4 hoverable" id="vsc">
                <img src="./assets/projects/ValorantStoreChecker/VSC.jpg" alt="Valorant Store Checker"
                    
                    style="object-fit: cover; width: 100%; height: 100%; position: absolute; z-index: -1;" />

                <div class="d-flex flex-column h-100 p-5 text-white text-shadow-1">
                    <h3 class="display-6 lh-1 fw-bold mb-0 mt-auto">
                        Valorant Store Checker
                    </h3>
                    <div class="d-flex justify-content-between align-items-center">
                        The premier Valorant Store Checker app for iOS
                        <ul class="d-flex list-unstyled mb-0 flex">
                            <li class="me-2">
                                <img src="./assets/logos/swift.png" alt="Swift" width="32" height="32"
                                     class="rounded-circle border border-white" />
                            </li>
                            <li>
                                <img src="./assets/logos/swiftui.png" alt="SwiftUI" width="32" height="32"
                                     class="rounded-circle border border-white" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-xl-2 align-items-stretch g-4 pb-4">
        <div class="col default-col staggerMainProject hiddenBlur" data-bs-toggle="modal" data-bs-target="#vscModal">
            <div class="neumorphism h-100 overflow-hidden rounded-4 hoverable" id="vsc">
                <img src="./assets/projects/ValorantStoreChecker/VSC.jpg" alt="Valorant Store Checker"
                    style="object-fit: cover; width: 100%; height: 100%; position: absolute; z-index: -1;" />

                <div class="d-flex flex-column h-100 p-5 text-white text-shadow-1">
                    <h3 class="display-6 lh-1 fw-bold mb-0 mt-auto">
                        Valorant Store Checker
                    </h3>
                    <div class="d-flex justify-content-between align-items-center">
                        The premier Valorant Store Checker app for iOS
                        <ul class="d-flex list-unstyled mb-0 flex">
                            <li class="me-2">
                                <img src="./assets/logos/swift.png" alt="Swift" width="32" height="32"
                                     class="rounded-circle border border-white" />
                            </li>
                            <li>
                                <img src="./assets/logos/swiftui.png" alt="SwiftUI" width="32" height="32"
                                     class="rounded-circle border border-white" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col default-col staggerMainProject hiddenBlur" data-bs-toggle="modal" data-bs-target="#aiagentModal">
            <div class="neumorphism h-100 overflow-hidden rounded-4 hoverable" id="aiagent">
                <img src="./assets/projects/AIAgent/AIAgent.jpg" alt="AI Game Agent" 
                    style="object-fit: cover; width: 100%; height: 100%; position: absolute; z-index: -1;" />

                <div class="d-flex flex-column h-100 p-5 text-white text-shadow-1">
                    <h3 class="display-6 lh-1 fw-bold mb-0 mt-auto">AI Game Agent</h3>
                    <div class="d-flex justify-content-between align-items-center">
                        A 90th percentile AI game agent
                        <ul class="d-flex list-unstyled mb-0 flex">
                            <li class="me-auto">
                                <img src="./assets/logos/python.png" alt="Python" width="32" height="32"
                                     class="rounded-circle border border-white" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-xl-2 align-items-stretch g-4 pb-4 position-relative" style="z-index: 2;">
        <div class="col default-col staggerMainProject hiddenBlur" data-bs-toggle="modal" data-bs-target="#codevaultModal" data-src="">
            <div class="neumorphism h-100 overflow-hidden rounded-4 hoverable" id="codevault">
                <img src="./assets/projects/CodeVault/CodeVault.jpg" alt="CodeVault" 
                    style="object-fit: cover; width: 100%; height: 100%; position: absolute; z-index: -1;" />

                <div class="d-flex flex-column h-100 p-5 text-white text-shadow-1">
                    <h3 class="display-6 lh-1 fw-bold mb-0 mt-auto">CodeVault</h3>
                    <div class="d-flex justify-content-between align-items-center">
                        A ConUHacks 2023 hackathon project
                        <ul class="d-flex list-unstyled mb-0 flex">
                            <li class="me-2">
                                <img src="./assets/logos/swift.png" alt="Swift" width="32" height="32"
                                     class="rounded-circle border border-white" />
                            </li>
                            <li class="me-2">
                                <img src="./assets/logos/swiftui.png" alt="SwiftUI" width="32" height="32"
                                     class="rounded-circle border border-white" />
                            </li>
                            <li>
                                <img src="./assets/logos/reactjs.png" alt="React" width="32" height="32"
                                     class="rounded-circle border border-white" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col default-col staggerMainProject hiddenBlur" data-bs-toggle="modal" data-bs-target="#vscModal">
            <div class="neumorphism h-100 overflow-hidden rounded-4 hoverable" id="vsc2">
                <img src="./assets/projects/ValorantStoreChecker/VSC.jpg" alt="Valorant Store Checker"
                    style="object-fit: cover; width: 100%; height: 100%; position: absolute; z-index: -1;" />

                <div class="d-flex flex-column h-100 p-5 text-white text-shadow-1">
                    <h3 class="display-6 lh-1 fw-bold mb-0 mt-auto">
                        Valorant Store Checker
                    </h3>
                    <div class="d-flex justify-content-between align-items-center">
                        The premier Valorant Store Checker app for iOS
                        <ul class="d-flex list-unstyled mb-0 flex">
                            <li class="me-2">
                                <img src="./assets/logos/swift.png" alt="Swift" width="32" height="32"
                                     class="rounded-circle border border-white" />
                            </li>
                            <li>
                                <img src="./assets/logos/swiftui.png" alt="SwiftUI" width="32" height="32"
                                     class="rounded-circle border border-white" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid position-relative hiddenBlur" style="z-index: 1;">
        <div class="row flex-nowrap scrollport " id="projectsScrollport" style="white-space:initial;">

            <div class="projColSm staggerProject hiddenBlur" style="margin-left: -12px;">
                <a href="https://devpost.com/software/goodlucktruck" class="text-decoration-none text-reset" target="_blank">
                    <div class="neumorphism h-100 overflow-hidden rounded-4">
                        <div class="d-flex flex-column h-100 p-5">
                            <h3 class="mb-4 display-7 lh-1 fw-bold">123Loadboard</h3>
                            CodeJam 2023 hackathon project, helps truckers find loads with React.js and iOS.
                            <span class="mt-auto">
                                <span class="richLink fw-bold" style="cursor: pointer;">DevPost</span>
                            </span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="projColSm staggerProject hiddenBlur">
                <a href="https://devpost.com/software/schedule-bsc9w6" class="text-decoration-none text-reset" target="_blank">
                    <div class="neumorphism h-100 overflow-hidden rounded-4">
                        <div class="d-flex flex-column h-100 p-5">
                            <h3 class="mb-4 display-7 lh-1 fw-bold">NextClass</h3>
                            CodeJam 2022 hackathon project, schedule based social media website.
                            <span class="mt-auto">
                                <span class="richLink fw-bold" target="_blank">DevPost</span>
                            </span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="projColSm staggerProject hiddenBlur">
                <a href="https://github.com/SoloUnity/marianopolis-computer-programming/tree/main/Programmin%20Techniques%20and%20Applications%20420-LCW-MS/Assignments/a3%20Spambase" class="text-decoration-none text-reset" target="_blank">
                    <div class="neumorphism h-100 overflow-hidden rounded-4">
                        <div class="d-flex flex-column h-100 p-5">
                            <h3 class="mb-4 display-7 lh-1 fw-bold">Spam Detector</h3>
                            Spam email detector leveraging machine learning algorithms in Python.
                            <span class="mt-auto">
                                <span class="text-decoration-none richLink fw-bold" target="_blank" style="cursor: pointer;">GitHub</span>
                            </span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="projColSm staggerProject hiddenBlur">
                <a href="https://github.com/SoloUnity/remote-search-and-rescue-robot" class="text-decoration-none text-reset" target="_blank">
                    <div class="neumorphism h-100 overflow-hidden rounded-4">
                        <div class="d-flex flex-column h-100 p-5">
                            <h3 class="mb-4 display-7 lh-1 fw-bold">Rescue Robot</h3>
                            Regional science fair candidate, autonomous all-terrain search & rescue bot.
                            <span class="mt-auto">
                                <span class="text-decoration-none richLink fw-bold" target="_blank" style="cursor: pointer;">GitHub</span>
                            </span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="projColSm hoverable">
                <a href="https://github.com/SoloUnity/Gordon-Ng" class="text-decoration-none text-reset" target="_blank">
                    <div class="neumorphism h-100 overflow-hidden rounded-4">
                        <div class="d-flex flex-column h-100 p-5">
                            <h3 class="mb-4 display-7 lh-1 fw-bold">Portfolio Site</h3>
                            The website you are on right now! Built with HTML, CSS, and JavaScript.
                            <span class="mt-auto">
                                <span class="text-decoration-none richLink fw-bold" target="_blank" style="cursor: pointer;">GitHub</span>
                            </span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="projColSm hoverable" style="margin-right: -12px;">
                <a href="https://github.com/SoloUnity" class="text-decoration-none text-reset" target="_blank">
                    <div class="neumorphism h-100 overflow-hidden rounded-4">
                        <div class="d-flex flex-column h-100 p-5">
                            <h3 class="mb-4 display-7 lh-1 fw-bold">GitHub</h3>
                            For more projects and for my latest activity, check out my GitHub!
                            <span class="mt-auto">
                                <span class="text-decoration-none richLink fw-bold" target="_blank" style="cursor: pointer;">GitHub</span>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end mt-5 position-relative hiddenBlur" style="z-index: 2;">
        <button type="button" class="btn btn-light rounded-circle neumorphicButton me-2 p-2 lh-1 left1"
            style="width: 35px; height: 35px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-left faded" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"
                    stroke="currentColor" stroke-width="1.5" />
            </svg>
        </button>
        <button type="button" class="btn btn-light rounded-circle neumorphicButton p-2 lh-1 right1"
            style="width: 35px; height: 35px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-right faded" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"
                    stroke="currentColor" stroke-width="1.5" />
            </svg>
        </button>
    </div>
</div>