<div class="modal fade darkModeText" id="boulderingModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-md-down">
        <div class="modal-content rounded-4 px-5 py-5 glass">
            <div class="modal-header d-flex justify-content-between align-items-start">
                <h3 class="mb-4 display-6 lh-1 fw-bold">Bouldering</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-0">
                <video controls width="100%" class="rounded-4 neumorphicButton video16x9" preload="none">
                    <source src="./assets/hobbies/bouldering.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
    </div>
</div>