<div class="modal fade" id="danceModal" tabindex="-1" aria-labelledby="danceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-md-down">
        <div class="modal-content rounded-4 px-5 py-5 glass">
            <div class="modal-header d-flex justify-content-between align-items-start">
                <h3 class="mb-4 display-6 lh-1 fw-bold">Seventeen - Rock With You (Live Cover by Hallyu XIV | Crowd
                    Angle)</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    onclick="pauseAllVideos()"></button>
            </div>
            <div class="modal-body px-0">
                <video controls width="100%" class="rounded-4 neumorphicButton">
                    <source src="./assets/hobbies/dance.mp4" type="video/mp4" />
                </video>
                <div class="my-3 d-flex justify-content-end flex-wrap">
                    <a href="https://youtu.be/Tn0YmC7uBQw?si=rVTDo-dNHnG3d7rl" target="_blank"
                        class="btn btn-outline-danger neumorphicButton my-1">
                        <div class="d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24" fill="currentColor"
                                class="bi bi-youtube" viewBox="0 0 16 16">
                                <path
                                    d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z">
                                </path>
                            </svg>
                            <span style="margin-left: 5px"> HD Production Angle</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>