<div class="modal fade darkModeText" id="marsRoverModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-md-down">
        <div class="modal-content rounded-4 px-5 py-5 glass">
            <div class="modal-header d-flex justify-content-between align-items-start">
                <h3 class="mb-4 display-6 lh-1 fw-bold">Mars Rover Simulator</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-0">
                <h3 class="mb-0 fs-4 pb-2">Description</h3>
                <p>
                    The Mars Rover Simulator project simulates rover missions using real terrain data and advanced pathfinding algorithms.
                    It is was a project to learn the core fundamentals of graphics, pathfinding algorithms, as well as group collaboration. 
                    This project involved a total of 7 students with work spanning several months. 
                    It includes features such as: 
                    
                </p>
                <ul>
                    <li>Custom built UI library with a frame by frame rendering of the UI</li>
                    <li>Create, save, load, and delete multiple projects, each with its own set of rovers and mission parameters</li>
                    <li>Interactive map with selectable areas of interest, path markers, and computed paths</li>
                    <li>Analyze path and rover statistics, including distance traveled, energy consumption, and mission duration</li>
                    <li>Projects and rover configurations are stored in a local database</li>
                </ul>

                <div class="my-3 d-flex justify-content-between align-items-center flex-wrap">
                    <div>
                        <ul class="d-flex align-items-center list-unstyled mb-0 flex-wrap">
                            <li class="me-3 d-flex align-items-center">
                                <img src="./assets/logos/python.png" alt="C logo" height="24" class="me-2" />
                                <strong>Python</strong>
                            </li>
                        </ul>
                    </div>
                    <a href="https://github.com/SoloUnity/mars-rover-simulator" target="_blank"
                        class="btn btn-dark neumorphicButton my-1">
                        <div style="display: flex; cursor: pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-github" viewBox="0 0 16 16">
                                <path
                                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8">
                                </path>
                            </svg>
                            <span class="ms-2">GitHub</span>
                        </div>
                    </a>
                </div>
                <div class="scrollport" id="marsRoverScrollport">
                    <img class="defaultImage marsImage neumorphicButton" src="./assets/projects/MarsRoverSimulator/1.png"
                         />
                    <img class="defaultImage marsImage neumorphicButton" src="./assets/projects/MarsRoverSimulator/2.png"
                         />
                    <img class="defaultImage marsImage neumorphicButton" src="./assets/projects/MarsRoverSimulator/3.png"
                         />
                    <img class="defaultImage marsImage neumorphicButton" src="./assets/projects/MarsRoverSimulator/4.png"
                    />
                </div>

                <div class="d-flex justify-content-end mt-3 position-relative">
                    <button type="button" class="btn btn-light rounded-circle neumorphicButton me-2 p-2 lh-1 leftMars"
                        style="width: 35px; height: 35px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-left faded" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"
                                stroke="currentColor" stroke-width="1.5" />
                        </svg>
                    </button>
                    <button type="button" class="btn btn-light rounded-circle neumorphicButton p-2 lh-1 rightMars"
                        style="width: 35px; height: 35px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-right faded" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"
                                stroke="currentColor" stroke-width="1.5" />
                        </svg>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>