<div class="modal fade" id="vscModal" tabindex="-1" aria-labelledby="vscModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-md-down">
        <div class="modal-content rounded-4 px-5 py-5 glass">
            <div class="modal-header d-flex justify-content-between align-items-start">
                <h3 class="mb-4 display-6 lh-1 fw-bold">Valorant Store Checker</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-0">
                <h3 class="mb-0 fs-4 text-body-emphasis pb-2">Description</h3>
                <p>
                    VSC (Valorant Store Tracker) was an open source iOS app that
                    allows you to track your store and preview your skins from the game
                    <a href="https://playvalorant.com" class="text-decoration-none richLink fw-bold" target="_blank"
                        style="white-space: nowrap;">Valorant</a>
                    . It allowed
                    for easy on the go access to your otherwise hard to access skin
                    shop, a place to easily preview before buying, and an easy way to
                    see all the content in the game. The application featured a modern
                    UI design, implemented the MVVM architecture as well as async
                    technologies.
                    <br /><br />
                    VSC had a lifespan of a little under
                    a year, amassing over
                    <span class="fw-bold">350,000 downloads</span> and
                    <span class="fw-bold">50,000 active users</span>. Towards the end
                    of its lifespan, Riot Games and I came to a mutual agreement to
                    take down the application due a conflict of interest with the
                    game's official store. This application was a great learning
                    experience and serves as the one of the cornerstones for my
                    experience in iOS development.
                </p>
                <div class="my-3 d-flex justify-content-between align-items-center flex-wrap">
                    <div>
                        <ul class="d-flex align-items-center list-unstyled mb-0 flex-wrap">
                            <li class="me-3 d-flex align-items-center">
                                <img src="./assets/logos/swift.png" alt="Swift" height="24" class="me-2" />
                                <strong>Swift</strong>
                            </li>
                            <li class="me-3 d-flex align-items-center">
                                <img src="./assets/logos/swiftui.png" alt="SwiftUI" height="24" class="me-2" />
                                <strong>SwiftUI</strong>
                            </li>
                        </ul>
                    </div>
                    <a href="https://github.com/SoloUnity/valorantstorechecker-iOS" target="_blank"
                        class="btn btn-dark neumorphicButton my-1">
                        <div style="display: flex; cursor: pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-github" viewBox="0 0 16 16">
                                <path
                                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8">
                                </path>
                            </svg>
                            <span class="ms-2">GitHub</span>
                        </div>
                    </a>
                </div>
                <div class="scrollport" id="vscScrollport">
                    <img class="vscImage neumorphicButton" src="./assets/projects/ValorantStoreChecker/1.png"
                        loading="lazy" />
                    <img class="vscImage neumorphicButton" src="./assets/projects/ValorantStoreChecker/2.png"
                        loading="lazy" />
                    <img class="vscImage neumorphicButton" src="./assets/projects/ValorantStoreChecker/3.png"
                        loading="lazy" />
                    <img class="vscImage neumorphicButton" src="./assets/projects/ValorantStoreChecker/4.png"
                        loading="lazy" />
                    <img class="vscImage neumorphicButton" src="./assets/projects/ValorantStoreChecker/5.png"
                        loading="lazy" />
                    <img class="vscImage neumorphicButton" src="./assets/projects/ValorantStoreChecker/6.png"
                        loading="lazy" />
                    <img class="vscImage neumorphicButton" src="./assets/projects/ValorantStoreChecker/7.png"
                        loading="lazy" />
                </div>

                <div class="d-flex justify-content-end mt-3 position-relative">
                    <button type="button" class="btn btn-light rounded-circle neumorphicButton me-2 p-2 lh-1 left2"
                        style="width: 35px; height: 35px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-left faded" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"
                                stroke="currentColor" stroke-width="1.5" />
                        </svg>
                    </button>
                    <button type="button" class="btn btn-light rounded-circle neumorphicButton p-2 lh-1 right2"
                        style="width: 35px; height: 35px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-right faded" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"
                                stroke="currentColor" stroke-width="1.5" />
                        </svg>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>